*{
    margin-left: 0px;
}
#navbar{
    width: 95%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    font-weight: bold;
    font-size: 30px;
    padding: 15px 20px 0px 20px;
    
}
a{
    color: white;
}
form{
    margin-top: 80px;
    margin-left: 50px;
}
#details{
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    gap: 20px;

}
#details>div{
    width: 300px;
    height: auto;
    /* border: 1px solid #ff0000; */
    text-align: center;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#details>div>img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.imglogo{
    width: 100px;
    height: 50px;
    /* border: 1px solid blue; */
    display: flex;
    margin: auto;
    margin-top: -10px;
}
.imglogo>img{
    width: 100%;
    height: 100%;
}
h3{
   
    font-size: 15px;
    font-family: Open Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
p{
   margin-top: -15px;
   font-size: 15px;
    font-family: Open Sans,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}